@page "/"
@layout InitLayout
@inherits OutBase
@inject NavigationManager navegar
@inject AuthenticationStateProvider _authStateProvider
@inject ILocalStorageService _localStorageService;
<PageTitle>Iniciar Sesion</PageTitle>

<main class="text-center mt-5 mx-auto" style="max-width: 330px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
    <p class="h2 mt-3">Iniciar sesion</p>
    <div class="form-control shadow mt-5">
        <div class="form-floating mt-4">
            <input type="text" class="form-control form-control-lg" id="user" name="user" placeholder="Username" @bind="user"/>
            <label for="user">Nombre de usuario</label>
        </div>
        <div class="form-floating mt-4">
            <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Contraseña" @bind="contra"/>
            <label for="password">Contraseña</label>
        </div>
        <button name="login" class="btn btn-primary btn-lg w-100 mt-5" @onclick="@(async ()=>await Ingresar())">Login</button>
        <NavLink name="registrar" class="btn btn-success btn-lg w-100 mt-3" href="registrarse">Registrarse</NavLink>
    </div>
    <p class="h6" name="notificacion">@msg</p>
</main>

@code {

    async Task Ingresar(){
        if(await this.Login(user, contra))
        {
            msg = "Ingresando, por favor espere...";
            await _localStorageService.SetItemAsStringAsync("isauthenticated", "true");
            await _localStorageService.SetItemAsStringAsync("username", user);
            await Task.Delay(500);
            navegar.NavigateTo("/home");
        }
        else
        {
            msg = "No fue posible iniciar sesion, revise la contraseña o nombre de usuario";
        }
    }
}
